[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
pydantic-settings = "*"
requests = "*"
email-validator = "*"
sqlalchemy = "*"

[dev-packages]
black = "*"
coverage = "*"
pytest-mock = "*"
httpx = "*"
pytest = "*"
coverage-badge = "*"

[scripts]
start = "uvicorn app.main:app --reload"
test = "pytest"
coverage = "./run_coverage.sh"

[requires]
python_version = "3.9"
