
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
pydantic-settings = "*"
requests = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-asyncio = "*"

[scripts]
start = "uvicorn main:app --reload"
test = "pytest"

[requires]
python_version = "3.9"
